body {
    background-image: url(img/double-bubble-outline.png);
}
.container {
    width: 60%;
    margin: auto;
    border: 3px solid lightblue;
    background-image: url(img/moroccan-flower-dark.png);
}
header h1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 36px;
    color: lightcoral;
    font-weight: bold;
    text-shadow: 0 0 10px #fff, 
                 0 0 20px #fff, 
                 0 0 30px #fff, 
                 0 0 40px #00ff00, 
                 0 0 70px #00ff00, 
                 0 0 80px #00ff00, 
                 0 0 100px #00ff00, 
                 0 0 150px #00ff00;
    padding-bottom: 10px;
    border-bottom: 2px solid lightblue;
}
.profile {
    width: 80%;
    margin-left: 30px;
    color: whitesmoke;
    border-bottom: 3px solid lightblue;
}
.profile h3 {
    color: red;

}
.profile p {
    color: black;

}
.profile h2 {
    color: brown;
    font-size: 32px;
}
header img {
    position: static;
    right: 430px;
    top: 150px;
    z-index: 2;
    border: 3px solid lightskyblue;
    border-radius: 100px;
    width: 130px;
}
