.posts {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 200px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-200px, 0);
        transform: translate(-200px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav-item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 455px) {
    .headline-content {
        padding: 16px 16px;
    }

    .headline-title {
        font-size: 28px;
    }

    .headline-description {
        font-size: 16px;
    }
}

@media screen and (min-width: 650px) {
    .headline-content {
        margin: 0 auto;
        max-width: 650px;
    }

    .post-item-content {
        padding: 16px 32px 32px 32px;
    }

    .post-item-title {
        font-size: 18px;
    }

    .post-item-description {
        font-size: 14px;
    }

}

@media screen and (min-width: 700px) {
    .header-logo{
        width: 72px;
        margin: 0.5em 3em;
        display: inline-block;
    }

    .nav a {
        color: #fff;
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .post-item{
        margin: none;
    }

    .post-item-thumbnail {
        height: 35%;
        object-fit: cover;
    }

    footer{
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }

    footer .copyright{
        margin: auto 1em;
        font-size: 14px;
        display: inline-block;
        padding: 1.3em;
        color: #fff;
        text-align: left;
    
    }

    footer ul {
        text-align: right;
        margin: 5px;
        display: inline-block;
    
    }

}

@media screen and (min-width: 800px) {
    .nav-list {
        max-width: 800px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 900px) {
    
    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headline-content {
        padding: 16px 32px;
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .portonaufal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-item{
        width: 18%;
    }

}

@media screen and (min-width: 1200px) {
    main {
        max-width: 100%;
    }
}
